type project
authors fc1943s
language F#
tags fsharp
repositoryType git
repositoryUrl https://github.com/fc1943s/FsClr
include-pdbs true
include-referenced-projects true
files
    *.fsproj ==> fable
    paket.references ==> fable
    src/*.fs ==> fable/src
    scripts/*.ps1 ==> fable/scripts
